@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.progress::-webkit-progress-bar {
  @apply bg-[#ffffff] rounded-full;
}
.progress::-webkit-progress-value {
  @apply bg-[#FFB400F2] rounded-full object-cover;
}

.progress {
  @apply bg-white rounded-full border border-[#FFB400F2] h-1 overflow-hidden;
}
